<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
                                
                         <!--  Code Navbar -->

               {{>navbar}}
       
       <!-- Navbar ends -->

                                 <!-- Main Body?Home PAge -->

                   
       <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side of page -->

                    <div class="col-md-6 col-12  main_header_right">
                        <figure>
                            <img src="./images/about.jpg" alt="about" title="about ka image" class="img-fluid">
                        </figure>
                    </div>
                   

                    <!-- Right side of Page -->
                    <div class="col-md-6 col-12  main_header_left">
                        <p>Welcome to About us Ka Page</p>
                        <h1>This is  <span class="text_clr">About Us</span> wala Page </h1>
                        <a href="https://www.garageproductions.in/" target="_blank"><button>About Us </button></a>
                    </div>
                    
                </div>

            </div>
        </div>
      </div>
        <!-- Footer Code -->
       {{>footer}}
</body>
</html>